<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>controller.MovieList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>controller.GenreList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonController</servlet-name>
        <servlet-class>controller.PersonList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisablePerson</servlet-name>
        <servlet-class>controller.PersonDisable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonSearch</servlet-name>
        <servlet-class>controller.PersonSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGenre</servlet-name>
        <servlet-class>controller.GenreUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGenre</servlet-name>
        <servlet-class>controller.GenreDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGenre</servlet-name>
        <servlet-class>controller.GenreCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnablePerson</servlet-name>
        <servlet-class>controller.PersonEnable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMovie</servlet-name>
        <servlet-class>controller.MovieCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovie</servlet-name>
        <servlet-class>controller.MovieDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovie</servlet-name>
        <servlet-class>controller.MovieUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>controller.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controller.CommentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentSearch</servlet-name>
        <servlet-class>controller.CommentSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreSearch</servlet-name>
        <servlet-class>controller.GenreSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieSearch</servlet-name>
        <servlet-class>controller.MovieSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreControllerr</servlet-name>
        <servlet-class>controller.GenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSearch</servlet-name>
        <servlet-class>controller.HomeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controller.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieId</servlet-name>
        <servlet-class>controller.MovieSearchID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonSearchID</servlet-name>
        <servlet-class>controller.PersonSearchID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImage</servlet-name>
        <servlet-class>controller.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonUpdateInfo</servlet-name>
        <servlet-class>controller.PersonUpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>controller.Rating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDelete</servlet-name>
        <servlet-class>controller.CommentDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/movie/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/genre/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonController</servlet-name>
        <url-pattern>/person/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisablePerson</servlet-name>
        <url-pattern>/person/disable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonSearch</servlet-name>
        <url-pattern>/person/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGenre</servlet-name>
        <url-pattern>/genre/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGenre</servlet-name>
        <url-pattern>/genre/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGenre</servlet-name>
        <url-pattern>/genre/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnablePerson</servlet-name>
        <url-pattern>/person/enable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMovie</servlet-name>
        <url-pattern>/movie/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovie</servlet-name>
        <url-pattern>/movie/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovie</servlet-name>
        <url-pattern>/movie/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/comment/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentSearch</servlet-name>
        <url-pattern>/comment/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreSearch</servlet-name>
        <url-pattern>/genre/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieSearch</servlet-name>
        <url-pattern>/movie/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreControllerr</servlet-name>
        <url-pattern>/home/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSearch</servlet-name>
        <url-pattern>/home/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieId</servlet-name>
        <url-pattern>/movie/searchid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonSearchID</servlet-name>
        <url-pattern>/person/searchid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImage</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonUpdateInfo</servlet-name>
        <url-pattern>/home/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDelete</servlet-name>
        <url-pattern>/comment/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
